.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main {
  width: 100%;
  height: 90vh;
  /* border: 2px solid red; */
  display: flex;
}
#sidebar-parent {
  width: 15%;
  /* border: 2px solid teal; */
  background: #1e1e1e;
  color: white;
  padding: 10px;
}
#sidebar-parent p {
  color: #b4b4b4;
  font-family: "Poppins";
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}
#main-parent {
  width: 85%;
  /* border: 2px solid yellow; */
  background: black;
}
